body {
	background-color: #96c7eb;
	overflow: hidden;
}

.row {
	margin-top: 10px;
}
.primary {
	background-color: #3a33d4;
	color: white !important;
}
.secundary {
	background-color: #33bad4 !important;
	color: white !important;
}
.danger {
	color: red !important;
}

.card {
	margin-top: 10px;
	padding-bottom: 10px;
	border-radius: 25px;
	box-shadow: 2px 2px 5px !important;
}

.table {
	box-shadow: 5px 5px 5px !important;
}
